/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.footer .mail{text-align: left;}
	.controls ul{float: left;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.footer .mail{text-align: right;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.footer .mail{text-align: right;
}
