	{% extends "layout.html" %}

{% block title %}{% if LANGUAGE_CODE == 'fr' %}{{ home.name_fr }}{% else %}{{ home.name }}{% endif %}{% endblock %}

{% block content %}
{% load i18n %}
{% load staticfiles %}
{% load project_extras %}
<div class="img-top">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 col-md-offset-2">
    				<h1 class="text-center">{% trans "Graphic Designer &amp; Illustrator<br>from Earth" %}</h1>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="container">
		<div class="row" id="about">
		    <div class="col-lg-4">
		     	<h2>
		     		{% trans "I'm a Graphic Designer &amp; Illustrator from Nantes, France. I cleverly combine design, creativity <br>and interactivity" %}
				</h2>
				<a href="http://dribbble.com/MyleneLa"><img src="{% static "img/dribbble.png" %}" alt="dribbble mylenela"></a>
		    </div>
		    <div class="col-lg-8">
		    	{{ home.content|safe }}
		    </div>
		</div>
		<hr>


		<div class="row" id="work">
		  	<div class="col-lg-4">
		  		<h2>{% trans "Selected Works" %}</h2>
		  	</div>
		  	<div class="col-lg-8 col-sm-12 controls">
		      	<ul class="nav nav-pills">
					<li class="filter" data-filter="all">{% trans "All" %}</li>
					{% for category in categories %}
						<li class="filter" data-filter="project-{{ category.slug }}">{{ category.name }}</li>
					{% endfor %}
				</ul>
		  	</div>
		</div>

		<div class="row" id="grid">
			{% for project in projects %}
			<div class="col-md-3 col-sm-4 col-xs-6 mix {{ project|class:"project" }}">
		      	<a href="{% url 'view_project'  project.slug %}">
                    <img class="img-responsive" data-original="{{ project.cover.image.url }}" src="{{ project.cover.image.url }}" alt="{{ project.name }}">
		        	<div class="title">
		        		<div class="name">{{ project.name }}</div>
		        		<div class="cat">{{ project.categories.all|join:" " }}</div>
		        	</div>
		    	</a>
			</div>
			{% endfor %}
		</div>

<script type="text/javascript"></script>
{% endblock %}
