{% extends "layout.html" %}

{% block title %}{% if LANGUAGE_CODE == 'fr' %}{{ home.name_fr }}{% else %}{{ home.name }}{% endif %}{% endblock %}

{% block content %}
{% load i18n %}
{% load project_extras %}
<h1>{% trans "Hi, i'm a graphic and web designer.<br>I cleverly combine design, creativity and interactivity" %}</h1>
<p>{{ home.content|safe }}</p>
<hr>

<ul>
    <li><a href="#" onclick="goCategory('all')">{% trans "All" %}</a></li>
{% for category in categories %}
    <li><a href="#" onclick="goCategory('{{ category.slug }}')">{{ category.name }}</a></li>
{% endfor %}
</ul>

{% for project in projects %}
    <div class="project {{ project|class:"category" }}">
        <img src="{{ project.img }}">
        <span>{{ project.name }}</span> |
        <span>{{ project.get_categories|join:" " }}</span> |
        <a href="{% url 'view_project'  project.slug %}">{{ project.name }}</a>
    </div>
{% endfor %}
<script type="text/javascript">
    var projects = document.getElementsByClassName('project');
    function goCategory(name) {
        for (var i=0;i<projects.length;i++) {
            var project = projects[i];
            if (name == "all")
                project.style.display = "";
            else if (project.classList.contains("category-" + name))
                project.style.display = "";
            else
                project.style.display = "none";
        }
    }
    goCategory('all');
</script>
{% endblock %}
