<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% if LANGUAGE_CODE == 'fr' %}
    <html lang="fr">
{% else %}
    <html lang="en">
{% endif %}
<head>
    <title>Mylenela - Graphic Design Illustration Datavisualisation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <meta name="Author" content="Mylène Larnaud" />
    <meta name="Description" content="I'm a graphic designer from France. I work on many kind of projects, like webdesign, print, datavisualisation, logos, illustration. I'm available for Freelance work." />
    <META NAME="Keywords" content="mylenela, mylène larnaud, graphic designer, french graphic designer, french, nantes, webdesign, illustration, datavisualisation"/>
    <META NAME="Publisher" content="Mylène Larnaud" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/responsive.css" %}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="//use.typekit.net/edf2cut.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<div id="header" class="navbar navbar-inverse navbar-fixed-top">
    	{% include "header.html" %}
    </div>
  	<div class="img-top">
    	<img src="img/top.jpg" alt="mylenela">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 col-md-offset-2">
    				<h1 class="text-center">{% trans "Graphic Designer &amp; Illustrator<br>from Earth" %}</h1>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="container">
	    {% block content %}{% endblock %}
	    <div id="footer">
	        {% include "footer.html" %}
	    </div>
	</div>
</body>
</html>
