<!DOCTYPE html>
{% load i18n %}
{% load compress %}
{% load staticfiles %}
{% if LANGUAGE_CODE == 'fr' %}
    <html lang="fr">
{% else %}
    <html lang="en">
{% endif %}
<head>
    <title>{% trans "Mylenela - Graphic Design Illustration Datavisualisation" %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <meta name="Author" content="Mylène Larnaud" />
    <meta name="Description" content="{% trans "I'm a graphic designer from France. I work on many kind of projects, like webdesign, print, datavisualisation, logos, illustration. I'm available for Freelance work." %}" />
    <META NAME="Keywords" content="{% trans "mylenela, mylène larnaud, graphic designer, french graphic designer, french, nantes, webdesign, illustration, datavisualisation" %}"/>
    <META NAME="Publisher" content="Mylène Larnaud" />
    {% compress css %}
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
    {% endcompress %}
</head>
<body>
	<div id="header" class="navbar navbar-inverse">
    	{% include "header.html" %}
    </div>
	    {% block content %}{% endblock %}
	    <footer>
	        {% include "footer.html" %}
	    </footer>
	</div>

    {% compress js %}
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/jquery.mixitup.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/edf2cut.js" %}"></script>
    {% endcompress %}
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">
    	$(function(){
		    $('#grid').mixitup({
		    	effects: ['','fade'],
		    	showOnLoad: 'all',
		    });		     
		});
	</script>
</body>
</html>
